.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #6278F7;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7;
}

@media screen and (max-width: 823px) {
    .imagen{
        cursor: pointer;
    }
    .orgSection{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 824px) {
    .imagen{
        position: absolute;
        right: 18%;
        cursor: pointer;
    }
}